build/*
.scons*
*.o
*.pyc
.sconf_temp
config.log
*.os
build.py
build-*.py
.vscodesrc/internal/stamp-h1
*.lo
libxjwt.la
src/internal/xjwt_config.h
Makefile
.deps
config.status
stamp-h1
*~
libtool
.libs/
libcmockery.a
.dirstamp
test-driver
test-suite.log
test_all
test_all.log
test_all.trs